body{
    font-family: "Helvetica",Helvetica,Arial, sans-serif;
    font-size: 14px;
    line-height: 1.50; 
    color: #050052;
    background-color: #a7cfa9;
    margin: 0;
    text-align: center;
}
h1{
    font-size: 30px;
    font-weight: bold;
}
.planetas {
    display: block;
    margin: 0 auto;
    max-width: 200px;  
    max-height: 300px; 
}

p {
    font-size: 18px;
    text-align: center;
}